* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

.App {
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
